<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend Museums</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-cover bg-center" 
      style="background: url('/static/images/11.png') no-repeat center center fixed;
      background-size: cover;
      position: relative;">

    <div class="bg-white bg-opacity-90 shadow-lg rounded-lg p-6 w-full max-w-md text-center">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">Recommend Museums</h1>

        <div class="flex flex-col gap-4">
            <a href="/recommend/category" class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition duration-300">
                Category Recommendation
            </a>
            <a href="/recommend/location" class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-green-600 transition duration-300">
                Location Recommendation
            </a>
        </div>
    </div>

</body>
</html>
